@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

h1, h2, p, span{
  user-select: none;
  cursor: default;
}
.messagebox h1, .messagebox h2, .messagebox h3, .messagebox h4, .messagebox p, .messagebox span, .messagebox li {
  user-select: auto;
  cursor: auto;
}